body{
    background-color: aquamarine;
}


#buttons{
    display:flex;
    flex-basis: 1;
}

#buttonEquals{
    background-color: rgb(63, 184, 184);
}

#buttonClear{
    background-color: rgb(226, 149, 49);
}

button{
    margin: 5px;
    padding: 25px;
    width: 100px;       
    font-weight: bolder; 
    font-family: sans-serif;
    font-size: 25px;
    border-radius: 5px; 
    box-shadow: 5px 5px 5px;
}

#display{
    font-size: 25px;
    font-family: 'Scientific Calculator LCD', sans-serif;
    padding: 10px;
    margin-bottom: 15px;
    background-color: rgba(97, 116, 42, 255);
    border-radius: 5px;    
    box-shadow: 5px 5px 5px black inset;
}

#calculator{
    display:flex;
    flex-direction: column;
    flex-shrink: 1;
    border-radius: 5px;
    padding: 20px;
    background-color: rgba(144, 144, 150, 0.932);
    box-shadow: 5px 5px 5px;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
}